*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -1;
    padding: 0 10%;
}
.header-content {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100vh;
    color: white;
}
.header-content > h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    
    color: #FFFFFF;
}
.header-content > p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 500px;
    /* or 162% */
    text-align: right;
    color: #FFFFFF;
}
.btn {
    font-size: 16px;
    background: white;
    color: blue;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 4px;
}
/* style flex-container box */
.flex-container {
    font-family: 'Work Sans';
    padding: 50px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.left-side  {
    width: 50%;
    height: auto;
}
.right-side {
    margin-top: 60px;
    margin-left: 15px;
    width: 50%;
    padding: 20px;
    padding-left: 60px;
    /* border: 1px solid red; */
}
.right-header {
    font-size: 40px;
    font-weight: 700;
}
.right-para {
    font-size: 14px;
    margin: 10px 0 8px 0;
    font-weight: 400;
    color: rgb(82, 81, 81);
    line-height: 21px;
}
.right-side > ul {
    list-style: none;
    line-height: 25px;
    color: rgb(82, 81, 81);
    font-size: 17px;
    padding: 10px 0;
}
li> i {
    color: green;
    font-size: 17px;
    margin-right: 8px;
}
/* styling main-2 div part */
.main-2 {
    font-family: 'Work Sans';
    margin: 40px 200px;
    height: 300px;
}
.goals {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goal-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 13px auto;
}
.goal-1 > img {
    margin-bottom: 20px;
}
.goal-1 > h2 {
    font-weight: 700;
}
.goal-1 > p {
    margin-top: 12px;
    font-size: 24px;
    font-weight: 400;
}